[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
briefcase = "*"
browser-history = "*"
numpy = "*"
pandas = "*"
plotly = "*"
scikit-learn = "*"
polars = "*"
matplotlib = "*"
pyarrow = "*"
seaborn = "*"

[dev-packages]

[requires]
python_version = "3.12"
