[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
briefcase = "*"
pandas = "*"
browser-history = {editable = true, path = "./browser-history"}

[dev-packages]
flake8 = "*"

[requires]
python_version = "3.8"
